@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css');

:root {
    --darkMain: #333;
    --titleMain:#4682b4;
    --dark: #001244;
    --ligthMain: #fff;
    --ligth: #fff;
    --pColor: #777;
    --placeColor: #808080;
    --alert: #c83737;
    --alert-light: #d87070;
    --info: #214478;
    --success: #00B74A;
    --success-light: #35c06d;
    --warning: #FFA900;
    --warning-light: #fdc24c;
    --shadow: #ECEFF1;
    --subtitles: #aaa;
}

/* CSS para .profile-info y elementos internos */
.profile-info h1 {
    color: var(--darkMain);
    margin-bottom: 5px;
}
.profile-info h3 {
    color: var(--titleMain);
    margin-top: 0;
    font-weight: 600;
}
.profile-info p {
    color: var(--pColor);
    line-height: 1.6;
    text-align: justify
}
.profile-info .btn-css {
    display: inline-block;
    background: var(--dark);
    color: var(--ligth);
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-top: 20px;
}
/* CSS para .contactInfo y elementos internos */
.contact-info {
    padding-top: 20px;
}
.contact-info .title {
    color: var(--titleMain);
    /* text-transform: uppercase; */
    font-weight: 600;
    /* letter-spacing: 0.5px; */
    margin-bottom: 10px;
}
.contact-info ul {
    position: relative;
}
.contact-info ul li {
    position: relative;
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}
.contact-info ul li a {
    text-decoration: none;
}
.contact-info ul li a:hover {
    /* background: var(--alert); */
    color: var(--alert)
}
.contact-info ul li .icon a {
    display: inline-block;
    width: 30px;
    font-size: 18px;
    color: var(--info);

    /* width: 40px;
    height: 40px;
    background: rgba(0, 0, 0, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--darkMain);
    font-size: 1.2em; */
}
.contact-info ul li .icon a:hover {
    /* background: var(--dark);
    color: var(--ligth) */
    color: var(--alert)
}
.contact-info ul li .text {
    font-weight: 600;
}

