# Variables de configuración para el despliegue del microservicio

FUNCTION_NAME=auth-handler-service
ROLE_NAME=lambda-service-auth-execution-role
ZIP_FILE=auth_handler_function.zip
API_NAME=auth-handler-service
REGION=us-east-1
TIMEOUT=30
MEMORY_SIZE=1024
PROFILE=deploy_ml
S3_ARTIFACTS_BUCKET=lambda-code-microservices
DOCKER_IMAGE_NAME=auth-lambda-builder
DYNAMODB_TABLE_NAME=auth-users
DYNAMODB_PRIMARY_KEY_NAME=email
DYNAMODB_PRIMARY_KEY_TYPE=S
DYNAMODB_TTL_ENABLED=false
