# Variables de configuración para el despliegue del microservicio

FUNCTION_NAME=binaria-trade-handler-service
ROLE_NAME=lambda-service-trade-execution-role
ZIP_FILE=trade_handler_function.zip
API_NAME=binaria-trade-handler-service
REGION=us-east-1
TIMEOUT=120
MEMORY_SIZE=1024
PROFILE=deploy_binaria
S3_ARTIFACTS_BUCKET=binaria-lambda-code-microservices
DOCKER_IMAGE_NAME=trade-lambda-builder

# --- Configuración VPC (Obligatoria para acceso a RDS) ---
VPC_ID=vpc-00e5c84e1400a916f
PRIVATE_SUBNET_IDS=subnet-07c1a8b67d2047ec3,subnet-07c7eeb3c2e5be2e0,subnet-007d8f014baf297ef,subnet-02403fd7434746c2d
INTERNAL_SG_ID=sg-07495e1628e67b466
