# Variables de configuración para el despliegue del microservicio

FUNCTION_NAME=file-handler-service
ROLE_NAME=lambda-service-file-execution-role
ZIP_FILE=file_handler_function.zip
API_NAME=file-handler-service
REGION=us-east-1
TIMEOUT=30
MEMORY_SIZE=1024
PROFILE=deploy_ml
S3_ARTIFACTS_BUCKET=lambda-code-microservices
DOCKER_IMAGE_NAME=file-lambda-builder

