# Variables de configuración para el despliegue del microservicio

FUNCTION_NAME=events-handler-service
ROLE_NAME=lambda-service-events-execution-role
ZIP_FILE=events_handler_function.zip
API_NAME=events-handler-service
REGION=us-east-1
TIMEOUT=30
MEMORY_SIZE=1024
PROFILE=deploy_ml
S3_ARTIFACTS_BUCKET=lambda-code-microservices
DOCKER_IMAGE_NAME=events-lambda-builder
DYNAMODB_TABLE_NAME=audit_records
DYNAMODB_PRIMARY_KEY_NAME=id
DYNAMODB_PRIMARY_KEY_TYPE=S
DYNAMODB_TTL_ENABLED=false
