# Variables de configuración para el despliegue del microservicio

FUNCTION_NAME=forms-handler-service
ROLE_NAME=lambda-service-forms-execution-role
ZIP_FILE=forms_handler_function.zip
API_NAME=forms-handler-service
REGION=us-east-1
TIMEOUT=120
MEMORY_SIZE=256
PROFILE=deploy_ml
S3_ARTIFACTS_BUCKET=lambda-code-microservices
DOCKER_IMAGE_NAME=forms-lambda-builder
DYNAMODB_TABLE_NAME=FormSessions
DYNAMODB_PRIMARY_KEY_NAME=session_id
DYNAMODB_PRIMARY_KEY_TYPE=S
DYNAMODB_TTL_ENABLED=true
DYNAMODB_TTL_ATTRIBUTE_NAME=ttl
