# Deployment variables for the Ingest microservice.

FUNCTION_NAME=ingest-handler-service
ROLE_NAME=lambda-service-ingest-execution-role
ZIP_FILE=ingest_function.zip
API_NAME=ingest-service
REGION=us-east-1
TIMEOUT=30
MEMORY_SIZE=256
PROFILE=deploy_ml
S3_ARTIFACTS_BUCKET=lambda-code-microservices
DOCKER_IMAGE_NAME=ingest-lambda-builder
DYNAMODB_TABLE_NAME=ingest_datasets
DYNAMODB_PRIMARY_KEY_NAME=dataset_id
DYNAMODB_PRIMARY_KEY_TYPE=S
DYNAMODB_TTL_ENABLED=false
