# Deployment variables for the Mining Summit microservice.

FUNCTION_NAME=mining-summit-service
ROLE_NAME=lambda-service-mining-summit-execution-role
ZIP_FILE=mining_summit_function.zip
API_NAME=mining-summit-service
REGION=us-east-1
TIMEOUT=30
MEMORY_SIZE=256
PROFILE=deploy_ml
S3_ARTIFACTS_BUCKET=lambda-code-microservices
DOCKER_IMAGE_NAME=mining-summit-lambda-builder
DYNAMODB_TABLE_NAME=mining_summit_participants
DYNAMODB_PRIMARY_KEY_NAME=ci
DYNAMODB_PRIMARY_KEY_TYPE=S
DYNAMODB_TTL_ENABLED=false
