# Deployment variables for the Analytics microservice.

FUNCTION_NAME=analytics-handler-service
ROLE_NAME=lambda-service-analytics-execution-role
ZIP_FILE=analytics_function.zip
API_NAME=analytics-service
REGION=us-east-1
TIMEOUT=120
MEMORY_SIZE=256
PROFILE=deploy_ml
S3_ARTIFACTS_BUCKET=lambda-code-microservices
DOCKER_IMAGE_NAME=analytics-lambda-builder
DYNAMODB_TABLE_NAME=analytics_runs
DYNAMODB_PRIMARY_KEY_NAME=dataset_id
DYNAMODB_PRIMARY_KEY_TYPE=S
DYNAMODB_TTL_ENABLED=false
