# Variables de configuración para el despliegue del microservicio

FUNCTION_NAME=cms-handler-service
ROLE_NAME=lambda-service-cms-execution-role
ZIP_FILE=cms_handler_function.zip
API_NAME=cms-handler-service
REGION=us-east-1
TIMEOUT=60
MEMORY_SIZE=256
PROFILE=deploy_ml
S3_ARTIFACTS_BUCKET=lambda-code-microservices
DOCKER_IMAGE_NAME=cms-lambda-builder
