# Variables de configuración para el despliegue del microservicio

FUNCTION_NAME=ml-functions-handler-service
ROLE_NAME=lambda-service-ml-functions-execution-role
ZIP_FILE=ml_functions_handler_function.zip
API_NAME=ml-functions-handler-service
REGION=us-east-1
TIMEOUT=120
MEMORY_SIZE=256
PROFILE=deploy_ml
S3_ARTIFACTS_BUCKET=lambda-code-microservices
DOCKER_IMAGE_NAME=ml-functions-lambda-builder

