# Variables de configuración para el despliegue del microservicio

FUNCTION_NAME=supplies-handler-service
ROLE_NAME=lambda-service-supplies-execution-role
ZIP_FILE=supplies_handler_function.zip
API_NAME=supplies-handler-service
REGION=us-east-1
TIMEOUT=120
MEMORY_SIZE=256
PROFILE=deploy_ml
S3_ARTIFACTS_BUCKET=lambda-code-microservices
DOCKER_IMAGE_NAME=supplies-lambda-builder

