# 'infrastructure.config': Variables de configuración global para el despliegue de la infraestructura API.

# --- Configuración General de AWS ---
# 'REGION': Región de AWS donde se desplegarán los recursos (ej: us-east-1, eu-west-1).
export REGION="us-east-1"
# 'AWS_PROFILE': Perfil de AWS CLI configurado para el despliegue.
export AWS_PROFILE="deploy_binaria"

# --- Configuración de Red y VPC ---
# 'VPC_CIDR': Bloque CIDR para la VPC principal.
export VPC_CIDR="192.168.0.0/16"
# 'PROJECT_TAG': Etiqueta (Tag) usada para identificar y limpiar todos los recursos.
export PROJECT_TAG="API_BINARIA"


# --- Configuración de RDS MySQL ---
# 'RDS_INSTANCE_TYPE': Clase de instancia RDS.
export RDS_INSTANCE_TYPE="db.t4g.micro"
# 'RDS_STORAGE_GB': Tamaño de almacenamiento asignado (en GiB).
export RDS_STORAGE_GB=20
# 'DB_NAME': Nombre inicial de la base de datos.
export DB_NAME="binaria"
# 'DB_USERNAME': Nombre de usuario maestro de la base de datos.
export DB_USERNAME="root"
# Nota: La contraseña de RDS se solicitará de forma interactiva.


# --- Configuración de Instancia EC2 ---
# 'EC2_AMI_ID': ID de la AMI para AlmaLinux 9 en la REGION especificada.
export EC2_AMI_ID="ami-052064a798f08f0d3"
# 'EC2_INSTANCE_TYPE': Clase de instancia (t3.small cumple con 2 vCPU).
export EC2_INSTANCE_TYPE="t3.small"
# 'EC2_VOLUME_SIZE_GB': Tamaño del volumen raíz.
export EC2_VOLUME_SIZE_GB=20
# 'KEY_PAIR_NAME': Nombre para el par de claves SSH.
export KEY_PAIR_NAME="api-project-keypair"


# --- Configuración de API Gateway Único ---
# 'API_NAME': Nombre para el API Gateway REST único.
export API_NAME="ApiGateway-Microservices-Main"
# 'API_STAGE_NAME': Nombre de la etapa de despliegue (afecta a la URL final).
export API_STAGE_NAME="prod"

# --- Mapeo de Microservicios (Nombre de Función:Ruta de API) ---
# 'MICROSERVICES_LIST': Lista de funciones Lambda y sus rutas de API correspondientes.
# Formato: "nombre_de_la_funcion:/ruta_de_api" (separado por comas)
export MICROSERVICES_LIST="binaria-auth-handler-service:/auth,binaria-file-handler-service:/files,binaria-events-handler-service:/events,binaria-forms-handler-service:/forms,binaria-localization-handler-service:/localization,binaria-planning-handler-service:/planning"

# --- Variables de Entorno Dinámicas para Lambda VPC (Se actualizan automáticamente) ---
# Estos valores se extraen y se actualizan en este archivo 'después' de ejecutar el paso 'setup_aws_infrastructure.sh'.
export VPC_ID="vpc-00e5c84e1400a916f"
export PRIVATE_SUBNET_IDS="subnet-07c1a8b67d2047ec3,subnet-07c7eeb3c2e5be2e0,subnet-007d8f014baf297ef,subnet-02403fd7434746c2d"
export INTERNAL_SG_ID="sg-07495e1628e67b466"
export SG_RDS_ID="sg-0cbbf31597d438153"
# --- Endpoint de RDS (Vacío para Creación Manual) ---
export RDS_DB_ENDPOINT=""
export PUB_SG_ID="sg-09fafff5d204ebd88"
export PUBLIC_SUBNET_A="subnet-0c35fa2fde97bae4e"


export PUBLIC_SUBNET_IDS="subnet-0c35fa2fde97bae4e,subnet-04a280c05c3243448"